.homepage #catAbb,
.homepage #go,
.homepage .leftlinks #cl_app_beta,
.no-js,
p.more {
  display: none;
}

#logo {
  font-size: 2.5rem;
}

.homepage-search .querybox {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #464646;
  font-size: 16px;
}

.menu.collapsible > li {
  cursor: pointer;
}

.menu.collapsible > li.expand.s ul {
  display: block;
}

.menu.collapsible > li ul {
  display: none;
}

/* Your code here */

* {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: whitesmoke;
  color: #464646;
}

.wrapper {
  margin: 5% 15%;
}

a {
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: purple;
  font-weight: bold;
}

a > span:hover {
  color: purple;
  font-weight: bold;
}

ul {
  padding: 0;
}

ul > li {
  list-style: none;
}

.page-container {
  max-width: 1200px;
}

#leftbar {
  float: left;
  padding: 0 30px 0 30px;
  box-sizing: border-box;
  width: 25%;
}

#center {
  float: left;
  padding: 0 30px 0 30px;
  box-sizing: border-box;
  width: 50%;
  border: 1px solid #464646;
  border-radius: 10px;
}

#center > div {
  float: left;
  width: 33%;
}

a:active {
  font-size: larger;
}

#rightbar {
  float: left;
  padding: 0 30px 0 30px;
  box-sizing: border-box;
  width: 25%;
}

footer {
  clear: both;
}

#topban h2 {
  text-align: center;
}

ul.clfooter {
  text-align: center;
  border: 1px solid #464646;
  padding: 10px 0px 10px 0px;
}

ul.clfooter li {
  display: inline;
  padding: 0px 5px 0px 0px;
}

h4::before {
  content: url("https://appacademy-open-assets.s3-us-west-1.amazonaws.com/Module-Responsive-Design/attributes/assets/peace-symbol-emoji.png");
  zoom: 12.5%;
  display: inline-block;
  padding: 0 3% 0 0;
}

td {
  border: 1px solid #333;
  /* background-color: none; */
}

.cal td {
  text-align: center;
}

.cal td a:hover {
  background-color: lavender;
}

.cal {
  border-collapse: collapse;
}

.cal td:not(link) {
  color: rgba(0, 0, 0, 0.5);
}

.past:hover {
  cursor: not-allowed;
}

.cal a {
  color: green;
  font-weight: bold;
}

.today a {
  background-color: darkviolet;
  color: white;
}

#user_resources li:nth-child(3) {
  font-weight: bold;
}
