.nav__upper {
    display: flex;
    justify-content: space-between;
}

.upper__left {
    display: inline-block;
    height: 30px;
    width: 30px;
}

.upper__right {
    display: inline-block;

}

.upper__right > a {
    text-decoration: none;
    margin: 10px 5px 5px 5px;
}

.nav__lower {
    /* position: absolute; */
}

.sign-in {
    font-family: Arial;
    color: rgb(65, 151, 65)
}

.get-started {
    font-family: Arial;
    color: rgb(65, 151, 65);
    border: 1px solid rgb(65, 151, 65);
    border-radius: 5px;
    padding: 3px 6px;
}
