#root {
    margin: 1% 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.nav__upper {
    display: flex;
    justify-content: space-between;
}

.upper__left {
    display: inline-block;
    height: 30px;
    width: 30px;
}

.upper__right {
    display: inline-block;

}

.upper__right > a {
    text-decoration: none;
    margin: 10px 5px 5px 5px;
}

.nav__lower {
    display:flex;
    justify-content: space-around;
    margin: 2% 10%;
}

.nav__lower > a {
    display: inline;
    text-decoration: none;
    color: rgb(144, 144, 144);
}

.sign-in {
    color: rgb(65, 151, 65)
}

.get-started {
    font-family: Arial;
    color: rgb(65, 151, 65);
    border: 1px solid rgb(65, 151, 65);
    border-radius: 5px;
    padding: 3px 6px;
}

.content {
    margin: 4% 22.5%;
}

.main__img {
    display: block;
    width: 100%;
    /* height: auto; */
}

h1 {
    font-size: 3em;
}
